body {
    background-color:#000;
}

h1 {
    font-size:24px;
    color:#ffffff;
    margin-bottom:50px;
}

h2 {
    font-size:16px;
    color:#32a1ce;
    margin-top:15px;
    margin-bottom:15px;
}

h3 {
    font-size:12px;
    color:#ffffff;
}

p {
    font-size:10px;
    color:#ffffff; 
}

.myspan {
    font-size:8px;
    color:#ffffff; 
}


li {
    font-size:12px;
    color:#ffffff; 
}

.nav-link {
    color:#32a1ce;  
}

th {
    font-size:12px;
    color:#ffffff;
}

td {
    font-size:10px;
    color:#ffffff;
}

label {
    font-size:10px;
    color:#ffffff;
}


.table-span{
    font-size: 12px;
    background-color:black;
    border-radius: 0 4px 4px 0;
    color:#aaaaaa;
    width:90%;
}

.leaflet-container {
    background-color:rgba(255,0,0,0.0);
}


.switch-field {
    display: flex;
    margin-bottom: 0px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.btn {
    font-size: 12px;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #17a2b8;
    box-shadow: none;
    color: white;
}

.switch-field label:first-of-type {
    border-radius: 4px 0px 0px 4px;
}

.switch-field label:last-of-type {
    border-radius: 0px 4px 4px 0px;
}

.x-select {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden; 
}

.y-select {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden; 
}

.select-label:hover {
    cursor: pointer;
}

.decov-select {
    font-size:10px;
}

.no-padding {
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}

.loader {
  border: 16px solid rgba(120,120,120,50); /* Light grey */
  border-top: 16px solid #32a1ce;; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position:absolute;
  left:50%;
  top:50%;
  margin: -60px 0 0 -60px;
	   
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*Legende micro*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 10px;
  height: 10px;
  float: left;
  margin: 0 10px 0 0;
  opacity: 0.7;
  border-radius:50%;
  border:solid;
  border-width:1px;
  border-color:#000000;
		    
}
/*Legende map*/
.maplegend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.maplegend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 4px;
  color: #777;
}

.maplegend p{
    text-align: center;
  font-size: 12px;
  margin: 0px 12px 0px;
  color: #F55;
} 

.maplegend span {
  position: relative;
  bottom: 3px;
}

.maplegend i {
  width: 10px;
  height: 10px;
  float: left;
  margin: 0 10px 0 0;
  opacity: 0.7;
  border:solid;
  border-width:1px;
  border-color:#000000;
		    
}

.my-td {
    background-color:#000000;
    border:solid;
    border-width:1px;
    border-color:#ffffff;
    
}
