<!doctype html>
<html lang="fr">
  <head>
    <title> Decov : un outil pour étudier les impacts sanitaires et économiques des politiques de déconfinement</title>

    <link rel="icon" type="image/png" href="{{url_for('static',filename='favicon.png')}}">
    <link rel="stylesheet" href="/static/leaflet.css"
	  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	  crossorigin=""/>


    <link type="text/css" rel="stylesheet" href="/static/goldenlayout-base.css" />
    <link type="text/css" rel="stylesheet" href="/static/goldenlayout-dark-theme.css" />

    <script src="/static/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="/static/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='deconf.css')}}">

    <script src="/static/jquery-3.4.1.min.js"
	    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	    crossorigin="anonymous"></script>
  </head>

  <body >
    <div id="main-screen" style="margin-bottom:30px"> </div>
    <div class="container-fluid" style="margin-top:0px;margin-bottom:20px;" >
      <div class="row">
	<div class="col-1">
	  <a href={{url_for('static',filename='decov_dtu.pdf')}} target="_blank">
	    <img src={{url_for('static',filename="icon-info.png")}} style="width:50px;height:auto; z-index=100" data-toggle="tooltip" data_placement="right" title="Manuel utilisateur">
	  </a>
	  <a href={{url_for('static',filename='video_demo.mp4')}} target="_blank">
	    <img src={{url_for('static',filename="video_icon.png")}} style="width:50px;height:auto; z-index=100" data-toggle="tooltip" data_placement="right" title="Vidéo démo">
	  </a>
	</div>
	<div class="col-10">
	  <h1 class="text-center" style="display:block; margin-right:50px"> Decov : un outil pour étudier les impacts sanitaires et économiques des politiques de déconfinement </h1>
	</div>
	<div class="col-1">
	</div>
      </div>

      <div class="row">
	<div id="goldenComponent" style="width:98%;height:800px;margin-left:1%; "> </div>
      </div>

      <div class="row">
	<!-- Screen for the visualization of the optimization results -->
	<div id="optimization-screen" style="display:none; width:100%; margin-top:50px;">
	  <h1 class="text-center"> Résultats de l'optimisation des paramètres </h1>
	  <div id="optimGoldenComponent" style="width:98%;height:800px;margin-left:1%;"> </div>
	</div>
      </div>

      <div class="row" style="margin-bottom:10px">
	  <a href="#" data-toggle="modal" data-target="#changelogModal" style="padding-top:10px; padding-left:1%">
	    V1.0.1 : Changelog
	  </a>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="changelogModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
	  <div class="modal-header">
	    <h5 class="modal-title" id="changelogModalLabel">Changelog</h5>
	    <button type="button" class="close" data-dismiss="modal" >
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  <div class="modal-body">
	    <pre><code> {% autoescape false %} {{ changelog }} {% endautoescape %} </code></pre>
	  </div>
	</div>
      </div>
    </div>


    <script src="/static/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/static/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="/static/leaflet.js"
	    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
	    crossorigin=""></script>

    <script type="text/javascript" src="/static/goldenlayout.min.js"></script>


    {% autoescape false %}
   <script>
      initial_data = {
      request_data: {{ req }},
      result_data : {{ res }},
      optim_params : {{ optim_params_json }},
      possible_starts : {{ possible_starts_json }},
      objectives_explain: {{ objectives_explain_json }},
      optimizer_explain: {{ optimizer_explain_json }},
      policy_explain: {{ policy_explain_json }}
      }

    </script>

    <script src="{{ url_for('static', filename='rendering.js') }}">
    </script>

    <script>
      init_rendering('state')
    </script>

    <script>
      /* setup golden layout */
      layout = {{ layout }};
      var myLayout = new GoldenLayout( layout, "#goldenComponent")
      myLayout.registerComponent("decovComponent", function(container, componentState){
      myLayout.on('stateChanged', function(){
        setTimeout(function(){
          refresh_bar();
          refresh_timeline();
          refresh_map()
        },1)
      });


      $.get(componentState.href, function(data){
             container.getElement().html(data);
             if(componentState  !== null){
      init_rendering(componentState.callback);
      $('[data-toggle="tooltip"]').tooltip({html:true})
             }
         });
      });

      $(window).resize(function () {
      myLayout.updateSize($(window).width(), $(window).height());
      });

      myLayout.init()
    </script>



    {% endautoescape %}


    <script>
      /*enable tooltips*/
      $('document').ready(function(){
        $(function () {
          $('[data-toggle="tooltip"]').tooltip({html:true})
          $('[name="label-optim-choice"]').tooltip({html:true, delay:{show:0,hide:1000}})
        })
      })
    </script>

  </body>
</html>

