<div id="grille-mesures" style="height:15%; display:flow"></div>

<div id="maploader" class="text-center" style="width:100%; height:85%; display:grid"; >
  <div class="loader"> </div>
</div>
<div id="tester" style="width:100%; height:75%; margin: 0 auto; border:solid; border-color:#ffffff;"></div>

<div style="width:100%; height:75%;">
  <div class="switch-field" style="margin: 0 0 0 0">
    <input type="radio" id="radio-green-red" name="radio-map-select" checked autocomplete="off" onclick="refresh_map()">
    <label for="radio-green-red" style="width:33%" > Départements verts/rouges </label>
    <input type="radio" id="radio-cases" name="radio-map-select" autocomplete="off" onclick="refresh_map()">
    <label for="radio-cases" style="width:33%"> Contaminés </label>
    <input type="radio" id="radio-deaths" name="radio-map-select" autocomplete="off" onclick="refresh_map()">
    <label for="radio-deaths"style="width:34%"> Décès cumulés </label>
    <input type="radio" id="radio-tests" name="radio-map-select" autocomplete="off" onclick="refresh_map()">
    <label for="radio-tests"style="width:34%"> Utilisation des tests </label>
  </div>
</div>
