<div id="model-tab">
<h2 class="text-center">  Simulation </h2>
  
<div class="switch-field" style="width:100%">
  <input type="radio" id="radio-macro_Alizon20" name="radio-model-select" checked autocomplete="off">
  <label for="radio-macro_Alizon20" style="width:34%" > Modèle macro (Alizon20) </label>
  <input type="radio" id="radio-macro_Salje20" name="radio-model-select" autocomplete="off">
  <label for="radio-macro_Salje20" style="width:33%" > Modèle macro (Salje20) </label>
  <input type="radio" id="radio-micro" name="radio-model-select" autocomplete="off">
  <label for="radio-micro" style="width:33%" > Modèle micro  </label>
</div>


<div style="display:none; margin-top:10px; margin-bottom:20px; height:200px; overflow-y:scroll;border:solid;border-width:2px;border-color:#32a1ce; padding:2px;" id="agent-visu-div">
  <h3 class="text-center"> Affichage fin des départements </h3>

  <div class="switch-field" style="width:100%">
    <input type="radio" id="micro-select-geo-spots" name="radio-micro-geo-select" checked autocomplete="off">
    <label for="micro-select-geo-spots" style="width:50%" > Afficher les liens Agents/Lieux </label>
    <input type="radio" id="micro-select-geo-contacts" name="radio-micro-geo-select" autocomplete="off">
    <label for="micro-select-geo-contacts" style="width:50%" > Afficher les liens Agents/Agents </label>
    
  </div>
  
  <div style="display:grid; grid-template-columns: repeat(8,1fr)">
    {% for zone in optim_params["zones"] %}
    <div style="display:inline-block; border:solid;border-width:1px; border-color:#767676">
      <input type="checkbox" id="check-micro-{{zone}}" name="dep-checkbox">
      <label for="check-{{zone}}" class="mylabel"> {{zone}} </label>
    </div>
    {% endfor %}
  </div>
</div>

<div style="display:none; margin-top:10px; margin-bottom:20px; height:100px; overflow-y:scroll;border:solid;border-width:2px;border-color:#32a1ce; padding:2px;" id="salje-warning">
  <p>
    Modèle adapté de <i>Henrik Salje, Cécile Tran Kiem, Noémie Lefrancq, Noémie Courtejoie, Paolo Bosetti, et al. <b>Estimating the burden of SARS-CoV-2 in France. 2020</b>. <a href="https://hal-pasteur.archives-ouvertes.fr/pasteur-02548181">⟨pasteur-02548181⟩</a></i>
  </p>
  <p>
    <b>Attention : ce modèle n'est pas implémenté avec les mêmes paramètres par défaut que l'article référencé, et peut donc proposer des estimations qui ne correspondent pas aux résultats rapportés dans celui-ci.</b>
  </p>
</div>

<div style="display:block; margin-top:10px; margin-bottom:20px; height:100px; overflow-y:scroll;border:solid;border-width:2px;border-color:#32a1ce; padding:2px;" id="alizon-warning">
  <p>
    Modèle adapté du travail de <i>Samuel Alizon <a href="http://covid-ete.ouvaton.org/Rapport3_Modele.html"><b>Modélisation de l’épidémie de COVID-19 : modèle SEAIR</b></a> du groupe de modélisation de l’équipe <a href="https://www.mivegec.ird.fr/fr/contact/160-francais/equipes/1205-ete">ETE</a> (Laboratoire <a href="http://mivegec.ird.fr/">MIVEGEC</a>, CNRS, IRD, Université de Montpellier)</i>
  </p>
  <p>
    <b>Attention : ce modèle est assez pessimiste.</b>
  </p>
</div>

<h2 class="text-center"> Paramètres habituels </h2>

<div style="border: solid; border-color:#32a1ce; margin-bottom:5px">

<table style="width:100%;">
  <tr>
    <td class="text-center">
      <span class="text-center" style="font-size:12px;color:white; margin-left:5px; margin-right:5px;" data-toggle="tooltip" data-placement="top" title="{{ model_params_meaning['R0'] }}"> R0 </span>
    </td>
    <td>
      <input autocomplete="off" type="text" id="alt-R0" value="{{ optim_params['compartmental_model_parameters']['macro_Alizon20']['R0'] }}" style="font-size:10px; width:100%; margin:0">
    </td>
     <td class="text-center" >
      <span class="text-center" style="font-size:12px;color:white;" data-toggle="tooltip" data-placement="top" title="{{ model_params_meaning['ICURatio'] }}"> Ratio de lits de soins intensifs </span>
    </td>
    <td>
      <input autocomplete="off" type="text" id="alt-ICURatio" value="{{ optim_params['compartmental_model_parameters']['common']['ICURatio'] }}" style="font-size:10px; width:100%; margin:0">
    </td>
  </tr>
</table>
</div>

<table style="width:100%;">
  <tr> <td>
      <button type="button" class="btn btn-info" id="model-relancer" style="width:100%">
	Relancer
      </button>
    </td>
    <td >
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" style="width:100%">
	Changer les paramètres de la simulation
      </button>
    </td>
  </tr>
</table>



<div style="border:solid; border-color:red; border-width:2px; margin-top:10px;">
  <p style="color:red;font-size:12px; margin-left:5px;">
    Nota bene : les paramètres épidémiologiques et les initialisations dans les différents compartiments de la population sont des estimations, les simulations résultantes peuvent présenter des différences significatives avec la réalité. </p>
</div>

</div>

<div id="model-loader" class="loader" style="display:none;"></div>

<!-- Modal for simulation parameters -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Changer les paramètres de la simulation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
	  <div class="row" id ="typeCollapse">
	    {% for typ in ['common','micro', 'macro_Alizon20', 'macro_Salje20'] %}
	    <h2 class="text-centered" style="width:100%;">
	      <button class="btn btn-light" style="width:100%;" data-toggle="collapse" data-target="#collapse-{{ typ }}">
		{{ typ }} 
	      </button>
	    </h2>
	    <div id="collapse-{{ typ }}" data-parent="#typeCollapse" class="collapse" style="width:100%">
	      <table class="table table-bordered">
		<tr> <th class="text-center" style="color:black;"> Paramètre </th><th class="text-center" style="color:black;"> Valeur </th>
		  {% for k,v in optim_params['compartmental_model_parameters'][typ].items() %}
		  {% if k != 'c' %}
		<tr>
		  <td class="text-center" ><span class="text-center" style="font-size:12px;color:black;" data-toggle="tooltip" data-placement="top" title="{{ model_params_meaning[k] }}"> {{ k }} </span></td>
		  <td><input autocomplete="off" type="text" id="{{ k }}" value="{%if v is sameas true %}true{%else%}{{ v }}{%endif%}" style="font-size:10px; width:100%; margin:0"> </td>
		</tr>
		{% endif %}
		{% endfor %}
	      </table>
	    </div>
	    {% endfor %}
	  </div>
	  
	  <div class="row">
	   
	    <h2 class="text-center"; style="width:100%"> Date de début de la simulation </h2>
	    <div class="switch-field" style="width:100%; margin-bottom:10px">
	      {% for k in possible_starts %}
	      <input type="radio" id="{{k}}" name="radio-start"
		     {% if k=="radio-start-T0" %} checked {% endif %}  autocomplete="off">
	      <label for="{{k}}" style="width:50%">  {{possible_starts[k].date}} </label> 
	      {% endfor %}
	    </div>
	    <div class="col-6">
	      <button class="btn btn-info" style="width:100%; font-size:14px" id="initial-valider" data-dismiss="modal"> Valider </button>
	    </div>
	    <div class="col-6">
	      <button class="btn btn-info" style="width:100%; font-size:14px" id="initial-annuler" data-dismiss="modal"> Annuler </button>
	    </div>
	  </div>
	 
	</div>
      </div>
    </div>
  </div>
</div>
