<div id="optim-tab">
  <h2 class="text-center"> Optimiser la stratégie </h2>
  <div class="input-group">
    <div class="input-group-prepend" style="width:75%">
      <span class="input-group-text" id="basic-addon1" style="background-color:black; font-size:12px; width:100%; color:#ffffff;"> Blocs de mesures (x3 semaines)</span>
    </div>
    <input type="text" class="form-control" value="{{optim_params.max_measure_steps}} " aria-label="max" aria-describedby="basic-addon1" autocomplete="off" style="font-size:12px; width:15%" id="max_measure_steps">
  </div>

  <table>
    {% for measure,value in optim_params.max_measure_values.items() %}
    <tr>
      <div class="input-group" style="width:100%">
	<div class="input-group-prepend"  style="width:10%">
	  <div class="input-group-text no-padding" style="background-color:black; width:100%">
	    <select class="decov-select" id="{{ measure }}" autocomplete="off">
	      {% for i in range(policy_explain[measure]['explanation']|length) %}
	      <option value="{{ i }}" {%if i==policy_explain[measure]['default']%} selected {% endif %}>{{ i }}</option>
	      {% endfor %}
	    </select>
	  </div>
	</div>
	<span class="input-group-text table-span">
	  <div class="float-right">
	    <img src="{{ url_for('static', filename='icon-info.png') }}" data-toggle="tooltip" data-html="true" data-placement="top" title="{% for i in range(policy_explain[measure]['explanation']|length) %} {{ i }}: {{policy_explain[measure]['explanation'][i|string] }} <br> {% endfor %} " style="width:20px; height=20px;">
	  </div>
	  <div style="margin-left:10px">
	    {{ policy_explain[measure]['name_max'] }} </span>
	</div>
      </div>
    </tr>
    {% endfor %} 
  </table>

  <br>
  <h3 class="text-center"> Optimiseur </h3>
  
  <div class="switch-field" style="width:100%">
    {% for key,optim in optimizer_explain.items() %}
    {% if optim['status']=='ok' %}
    <input type="radio" id="radio-{{ key }}" name="radio-optim-select" {%if key=="nsgax"%} checked {% endif %} autocomplete="off">
    <label for="radio-{{ key }}" style="width:50%"> {{optim['name']}} </label>
    {% endif %}
    {% endfor %}
  </div>
  
  {% autoescape false %}
  {% for  key,optim in optimizer_explain.items() %}
  {% if optim['status']=='ok' %}
  <div id="explain-{{key}}" style="padding:5px; {% if key!="nsgax"%} display:None; {%endif%} border:solid; border-color:#767676; border-width:2px;">
    <p> {{ optim['explain'] }} </p>
  </div>
  {% endif %}
  {% endfor %}
  {% endautoescape %}
  
  <table style="width:100%;margin-top:10px">
    <tr> <td> <button class="btn btn-info" style="width:100%; font-size:14px" id="optim-valider"> Lancer </button> </td>
      <td> <button class="btn btn-info" style="width:100%; font-size:14px" id="optim-annuler"> Annuler </button> </td> </tr>
  </table>
</div>
<div id="optim-loader" class="loader" style="display:none"></div>

