<div id="input-tab">
<h2 class="text-center"> Changer les mesures </h2>
<div style="display:flex;">
  <div style="width:60%">
  </div>
  <div class="input-group" style="width:40%; ">
    <div style="width:75%">
      <span class="input-group-text" style="background-color:black; font-size:12px; width:100%; border-radius: 4px 0 0 4px; color:white;" data-toggle="tooltip" data-placement="top" title="Permet de changer les mesures à appliquer sur plusieurs semaines consécutives"> Bloc de semaines</span>
    </div>
    <input type="text" class="form-control" value="1" aria-label="max" aria-describedby="basic-addon1" autocomplete="off" style="font-size:12px; width:15%" id="week-set-measure">
  </div>
</div>

<table id="input-form" style="width:100%;margin-bottom:3px;">
  <tr> 
  {% for label in eval_policy_req['zone_label_names'] %}
  <td class="text-center my-td"> <img src="{{ url_for('static', filename='france-'+label+'.png') }}" style="width:auto;height:30px;"> </td>
  {% endfor %}
  <td>
  </td>
  </tr>
  
  {% for measure in policy_explain %}
  <tr>
    {% for label in eval_policy_req['zone_label_names'] %}
    <td class="my-td">
      <select class="decov-select" id="form-{{measure}}-{{label}}" autocomplete="off" style="width:100%"> 
	{% for i in range(policy_explain[measure]['explanation']|length) %}
	<option id="form-{{measure}}-{{label}}-{{i}}" value="{{ i }}" {%if i==0 %} selected {% endif %}>{{ i }}</option>
	{% endfor %}
      </select>
    </td>
    {% endfor %}
    <td class="my-td">
      <span class="table-span" >
	<div class="float-right">
	  <img src="{{ url_for('static', filename='icon-info.png') }}" data-toggle="tooltip" data-html="true" data-placement="top" title="{% for i in range(policy_explain[measure]['explanation']|length) %} {{ i }}: {{policy_explain[measure]['explanation'][i|string] }} <br> {% endfor %} " style="width:20px; height=20px;">
	</div>
	<div style="margin-left:10px; color:white;">
	  {{ policy_explain[measure]['name'] }}
	</div>
      </span>
    </td>
  </tr>
  {% endfor %}
</table>

<div>
  <table style="width:100%;">
    
    <tr><td> 
	<div class="p-inline-block" tabindex="0" id="input-sauver-tooltip"> 
	  <button class="btn btn-info" style="width:100%; font-size:14px" id="input-sauver"> Enregistrer </button>
	  <div>
      </td>
      <td> <div class="p-inline-block" tabindex="0" id="input-annuler-tooltip">
	  <button class="btn btn-info" style="width:100%; font-size:14px" id="input-annuler"> Annuler </button>
	</div>
    </td> </tr>
    <tr> <td> <button class="btn btn-info" style="width:100%; font-size:14px" id="input-relancer"> Relancer </button></td>
      <td> <button class="btn btn-info" style="width:100%; font-size:14px" id="input-reset"> Réinitialiser </button> </td>
    </tr>
  </table>
  </div>
  
  </div>

  <div id="input-loader" class="loader" style="display:none;"></div>
