<h2 class="text-center"> Statistiques départementales </h2>

  <table class="table">
    <tr><th> Département </th><td id="nomregion" ></td></tr>
    <tr><th> Population  </th><td id="popregion" ></td></tr>
    <tr><th> Actifs </th><td id="popactiveregion" ></td></tr>
    <tr><th data-toggle="tooltip" data-placement="left" title="Attention il s'agit d'une statistique régionale, répartie entre les départements au pro-rata de leur population."> Lits de réanimation en hôpitaux </th><td id="lits_rea" ></td></tr>
    <tr><th> Population à risque </th><td id="poprisk"></td></tr>
    <tr><th> Capacité de tests </th><td id="captest"> </td></tr>
    <tr><td></td><td></td> </tr>
  </table>

