<div class="row" style="margin-right:20px;margin-left:20px;margin-top:20px; height:350px; overflow-y:scroll; border:solid; border-color:#32a1ce">
  <table class="table table-bordered" id="table-optim-sols"> 
  </table>
</div>
