<div class="text-center"; style="width:100%">
  <table class="table">
    <tr>
      <td style="width:15%">
      </td>
      <td style="width:5%; border-bottom:solid; border-left:solid; border-width:1px;"> 
	<button class="btn btn-info" onclick="decr_week()" data-toggle="tooltip" data-placement="top" title="Astuce: utilisez les raccourcis clavier + et -"> - </button>
      </td>
      
      <td class="myspan" id="semaine-affiche" style="font-size:22px;margin-right:2%; margin-left:2%;width:20%; border-bottom:solid; border-width:1px;">
	Semaine 20
      </td>
      <td style="width:5%; border-bottom:solid; border-right:solid; border-width:1px;"> 
	<button class="btn btn-info" style="height:40px" onclick="incr_week()" data-toggle="tooltip" data-placement="top" title="Astuce: utilisez les raccourcis clavier + et -"> + </button>
      </td>
      <td style="width:10%">
      </td>
      <td style="width:5%; padding-right:0px; border-bottom:solid; border-left:solid; border-width:1px;"> 
	<button class="btn btn-info" onmousedown="decr_max_weeks()"> - </button>
      </td>
      <td class="myspan" id="semaine-max" style="font-size:22px;margin-right:2%; margin-left:2%;width:20%; border-bottom:solid; border-width:1px;">
	Afficher sur 30 semaines
      </td>
      <td style="width:5%; padding-left:0px; border-bottom:solid; border-right:solid; border-width:1px;">
	<button class="btn btn-info" onmousedown="incr_max_weeks()"> + </button>
      </td>
      <td style="width:15%">
      </td>
    </tr>
  </table>
</div>

<div style="height:80%" id="frise"></div>

