<!doctype html>
<html lang="fr">
  <head>
    <title> Visualisateur de matrices de contact</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='deconf.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js" integrity="sha256-Xb6SSzhH3wEPC4Vy3W70Lqh9Y3Du/3KxPqI2JHQSpTw=" crossorigin="anonymous"></script>
  </head>
  <body>

    
    <h1 class="text-center"> Matrice de contact </h1>

  
    
    <div class="container-fluid">
      <div class="row">
	<div class="col-2">
	</div>
	<div class="col-3">
	  <div id="chord"></div>
	</div>
	<div class="col-2">
	</div>
	<div class="col-3">
	  <table id="tab-contact" class="table table-bordered">
	  </table>
	</div>
	<div class="col-2">
	</div>
      </div>
    </div>

    <div class="text-center">
      <input id="input-chemin" type="text" value="france_contact_matrix.csv">
      <button class="btn btn-info" onclick="render_contact()" > Rafraichir </button>
    </div>
  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
	    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="{{url_for('static', filename='contact_rendering.js')}}">
    </script>
    <script>
      render_contact()
    </script>


  </body>  
</html>
